<div class="container about-body">
  
  <p id="notice"><%= notice %></p>
  <center>
    <%= link_to 'Novo Quadro', new_quadro_path, class:"btn btn-lg btn-success" %>
    <%= link_to 'Gerenciar Locais', locals_path, class:"btn btn-lg btn-success" %>
  </center>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Foto</th>
        <th>#</th>
        <th>Altura</th>
        <th>Largura</th>
        <th>Técnica</th>
        <th>Preço</th>
        <th>Ano</th>
        <th>Galeria?</th>
        <th>Vendido?</th>
        <th>Loja</th>
        <th>Local</th>
        <th colspan="2"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @quadros.sort_by{|item| item['num']}.reverse_each do |quadro| %>
        <tr>
          
          <td style="vertical-align: middle;">
            <%= link_to quadro do %>
              <%= image_tag quadro.foto.url(:thumb), class: "thumbnail vcenter" %>
            <% end %>
          </td>
          <td style="vertical-align: middle;"><%= quadro.num %></td>
          <td style="vertical-align: middle;"><%= quadro.alt %></td>
          <td style="vertical-align: middle;"><%= quadro.larg %></td>
          <td style="vertical-align: middle;"><%= quadro.tec %></td>
          <td style="vertical-align: middle;">R$ <%= quadro.price %>,00</td>
          <td style="vertical-align: middle;"><%= quadro.ano %></td>
          <td style="vertical-align: middle;"><% if quadro.galeria %><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><% end %></td>
          <td style="vertical-align: middle;"><% if quadro.vendido %><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><% end %></td>
          <td style="vertical-align: middle;"><% if if @quadro.link && @quadro.link != "" %><%= link_to "Ver na Elo7", quadro.link %><% end %></td>
          <td style="vertical-align: middle;">
            <% if quadro.local %>
              <%= quadro.local.name %>
            <% end %>
          </td>
          <td style="vertical-align: middle;"><%= link_to 'Editar', edit_quadro_path(quadro), class: "btn btn-xs btn-info" %></td>
          <td style="vertical-align: middle;"><%= link_to 'Deletar', quadro, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-xs btn-danger"  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  
</div>