<p id="notice"><%= notice %></p>
<div class="container">
  
<div class="panel panel-default">
  <div class="panel-heading">
    <center>
      <strong>Composição #<%= @quadro.num %> (<%= @quadro.ano %>)</strong>          
      <% if !@quadro.vendido %>
        <span class="label label-success">Disponível</span>
      <% end %>
    </center>
  </div>
  <div class="panel-body ">
    <center>
      <%= link_to(@quadro) do %>
        <%= image_tag @quadro.foto.url(:large), class:"show-image" %>
      <% end %>
    </center>
  </div>
  <div class="panel-footer ">
    <center>
      <%= @quadro.alt %>cm x <%= @quadro.larg %>cm - <%= @quadro.tec %>
      <% unless @quadro.vendido %> 
        <%= content_tag(:p, @quadro.local.desc) unless @quadro.local.nil? %>
        <%= content_tag(:p,content_tag(:strong, "R$ #{ @quadro.price },00")) unless @quadro.price.blank? %>
        <% unless @quadro.link.blank? %>
          <%= link_to("Ver na Loja", @quadro.link, class: "btn btn-sm btn-success") %>
        <% else %>
          <%= link_to("Entrar em contato", contacts_path, class: "btn btn-sm btn-success") %>
        <% end %>
      <% end %>
    </center>
  </div>
</div>
