
<div id="home-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#home-carousel" data-slide-to="1"></li>
    <li data-target="#home-carousel" data-slide-to="2"></li>
    <li data-target="#home-carousel" data-slide-to="3"></li>
    <li data-target="#home-carousel" data-slide-to="4"></li>
    <li data-target="#home-carousel" data-slide-to="5"></li>
    <li data-target="#home-carousel" data-slide-to="6"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <center>
        <%= image_tag("slides/1.jpg", class: "carousel-image-home") %>
      </center>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <center>
        <%= image_tag("slides/2.jpg", class: "carousel-image-home") %>
      </center>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <center>
        <%= image_tag("slides/3.jpg", class: "carousel-image-home") %>
      </center>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <center>
        <%= image_tag("slides/4.jpg", class: "carousel-image-home") %>
      </center>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <center>
        <%= image_tag("slides/5.jpg", class: "carousel-image-home") %>
      </center>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <center>
        <%= image_tag("slides/6.jpg", class: "carousel-image-home") %>
      </center>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <center>
        <%= image_tag("slides/7.jpg", class: "carousel-image-home") %>
      </center>
      <div class="carousel-caption">
      </div>
    </div>
    
    
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#home-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#home-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>