<nav class="navbar navbar-ik">
  <div class="container">
    <div class="navbar-brand col-sm-3">
      <%= link_to root_path do %>
        <%= image_tag "logo.png", id:"logo_img" %>
      <% end %>
    </div>
    <div class="my-nav col-sm-8">
        <%= link_to 'Galeria', galeria_path, class: "menu-item" %>
        |
        <%= link_to 'Sobre', sobre_path , class: "menu-item" %>
        |
        <%= link_to 'Contato', "#", class: "menu-item" %>
        <% if logged_in? %>
        |
        <%= link_to 'Quadros', quadros_path, class: "menu-item" %>
        |
        <%= link_to 'Log out', logout_path, method: :delete, class: "menu-item"  %>
        <% end %>
    </div>
    <div class="col-sm-1 my-nav">
        <%= link_to "https://www.facebook.com/klockner.art" do %>
            <%= image_tag("facebook.png", class: "face") %>
        <% end %>

    </div>
  </div>
</nav>